<p id="notice"><%= notice %></p>

<h1><%= link_to @feed.name, @feed.site_url %></h1>
<h2><%= @feed.description %></h2>
<small><%= link_to @feed.feed_url, @feed.feed_url %></small><br />
<% unless @feed.tags.empty? %>
  <small><strong>Tags</strong>:
    <% @feed.tags.each do |t| %>
      <%= link_to t.name, show_tag_url(t.name) %>
    <% end %>
  </small>
<% end %>

<p>
  <strong>Last updated:</strong>
  <%= @feed.last_updated %>
</p>

<ul class='entry_list'>
  <% @feed.entries.order(published_date: :desc).each do |e| %>
    <li>
      <h2><%= link_to e.title, e %></h2>
      <small><%= e.published_date %></small>
      <div><%= to_html(e.content[0..250]) %></div>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
