<% @data.each do |data| %>
  <div class='entry_date'>
    <h1><%= data[:date] %></h1>
    <ul class='entry_list'>
      <% data[:entries].each do |e| %>
        <li>
          <h2><%= link_to e.title, entry_url(e) %></h2>
          <small><%= link_to e.feed.name, e.feed %></small>
          <% unless e.tags.empty? %>
            <small>:
              <% e.tags.each do |t| %>
                <%= link_to t.name, show_tag_url(t.name) %>
              <% end %>
            </small>
          <% end %>
          <div><%= to_html(e.content[0..250]) %></div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
